
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assessment Instruction</title>
</head>
<body>
    <div> 
        <h3>Assessment Instruction</h3>
        <div>
            <p>
                1. Click below button at 9:30 AM or latter
            </p>
            <p>
                2. If accidentally logged out, please login again we keep the data which you have already appeared
            </p>
        </div>
        <p>
            <button style="color:burlywood;">Proceed to Assessment</button>
        </p>
    </div>
</body>
</html>
